
config.py
images/subreddit_description.PNG
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.dbf
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.geojson
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.prj
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.shp
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.shx
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.xsd
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.cpg
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.csv
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.dbf
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.geojson
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.prj
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.qpj
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.shp
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.shx
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.cpg
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.csv
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.dbf
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.geojson
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.prj
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.qpj
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.shp
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/Desc_1.PNG
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/Desc_2.PNG
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.csv
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_01_reinickendorf.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_02_charlwilmersdorf.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_03_trepkoep.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_04_pankow.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_05_neukoelln.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_06_lichtenberg.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_07_marzheller.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_08_spandau.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_09_stegzehlen.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_10_mitte.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_11_friedkreuz.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_12_tempelschoen.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_001_mitte.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_002_friedkreuz.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_003_pankow.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_004_charlwilmersdorf.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_005_spandau.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_006_stegzehlen.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_007_tempelschoen.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_008_neukoelln.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_009_trepkoep.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_010_marzheller.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_011_lichtenberg.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_012_reinickendorf.geojson
_Berlin/data/icons/bicycle_50x50.png
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Data_2018-2021_combined.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2016_EPSG25832_CSV/csv/schema.ini
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2016_EPSG25832_CSV/csv/Unfallorte_2016_LinRef.txt
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_CSV/csv/schema.ini
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_CSV/csv/Unfallorte2017_LinRef.txt
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.cpg
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.dbf
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.prj
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.sbn
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.sbx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.shp
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2017_EPSG25832_Shape/Shapefile/Unfallorte2017_LinRef.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_CSV/csv/schema.ini
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_CSV/csv/Unfallorte2018_LinRef.txt
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.cpg
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.dbf
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.prj
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.sbn
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.sbx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.shp
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2018_EPSG25832_Shape/Shapefile/Unfallorte2018_LinRef.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_CSV/csv/schema.ini
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_CSV/csv/Unfallorte2019_LinRef.txt
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.cpg
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.dbf
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.prj
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.sbn
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.sbx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.shp
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2019_EPSG25832_Shape/Shapefile/Unfallorte2019_LinRef.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_CSV/csv/schema.ini
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_CSV/csv/Unfallorte2020_LinRef.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.cpg
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.dbf
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.prj
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.sbn
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.sbx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.shp
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2020_EPSG25832_Shape/Shapefile/Unfallorte2020_LinRef.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_CSV/Unfallorte2021_EPSG25832_CSV.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_CSV/Unfallorte2021_LinRef.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Berlin_2021_bicycle_accs.geojson
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.cpg
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.dbf
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.prj
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.sbn
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.sbx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.shp
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.shp.xml
_Berlin/data/raw_data_Strassenverkehrsunfaelle/Unfallorte2021_EPSG25832_Shape/Shapefile/Unfallorte2021_LinRef.shx
_Berlin/credentials.properties
_Berlin/credentials.py
