
config.py
images/subreddit_description.PNG
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.dbf
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.geojson
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.prj
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.shp
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.shx
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.xsd
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.cpg
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.csv
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.dbf
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.geojson
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.prj
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.qpj
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.shp
_Berlin/data/geo_data/block_teilblock_flaechen/blockflaechen.shx
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.cpg
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.csv
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.dbf
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.geojson
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.prj
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.qpj
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.shp
_Berlin/data/geo_data/detailnetz_straßenabschnitte/Detailnetz-Strassenabschnitte.shx
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz.csv
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatzbeschreibung.pdf
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/Desc_1.PNG
_Berlin/data/raw_data_Strassenverkehrsunfaelle_description/Desc_2.PNG
_Berlin/data/geo_data/bezirksgrenzen/bezirksgrenzen.csv
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_01_reinickendorf.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_02_charlwilmersdorf.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_03_trepkoep.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_04_pankow.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_05_neukoelln.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_06_lichtenberg.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_07_marzheller.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_08_spandau.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_09_stegzehlen.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_10_mitte.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_11_friedkreuz.geojson
_Berlin/data/geo_data/bezirksgrenzen/single_bezirk_jsons/bezirksgrenzen_12_tempelschoen.geojson
